<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-4">
    <form [formGroup]="newCampaignForm" (ngSubmit)="createCampaign(newCampaignForm.value);" novalidate>
      <div class="form-group" [class.has-error]="!name.valid && name.touched">
        <label for="campaign-name">Campaign name</label>
        <input [formControl]="name" class="form-control" id="campaign-name">
      </div>
      <div class="form-group" [class.has-error]="!utm_campaign.valid && utm_campaign.touched">
        <label for="utm_campaign">UTM code</label>
        <input [formControl]="utm_campaign" class="form-control" id="utm_campaign">
      </div>
      <div class="form-group">
        <label for="startDate">Start date</label>
        <datetime [(ngModel)]="startDate" [timepicker]="false" name="startDate" id="startDate"></datetime>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-lg btn-primary" [class.disabled]="!newCampaignForm.valid">Create Campaign</button>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-2">
    <campaign-list-component></campaign-list-component>
  </div>
</div>
