<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-4">
    <form [formGroup]="newCampaignForm" (ngSubmit)="onSubmit(newCampaignForm.value)" novalidate>
      <div class="form-group">
        <label for="campaign-name">Campaign name</label>
        <input [formControl]="name" class="form-control" id="campaign-name">
      </div>
      <div class="form-group">
        <label for="campaign-utm">UTM code</label>
        <input [formControl]="utm_campaign" class="form-control" id="campaign-utm">
      </div>
      <div class="form-group">
        <label for="campaign-date">Start date</label>
        <datetime [(ngModel)]="startDate" name="startDate"></datetime>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-lg btn-primary">Create Campaign</button>
      </div>
    </form>
  </div>
</div>
