<div class="panel panel-primary">
  <div class="panel-heading text-center" data-toggle="collapse" data-parent="#controls" data-target="#contentPanel">
    <h2 class="panel-title">eAppeal Content&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></h2>
  </div>
  <div class="panel-body" id="contentPanel" class="collapse">
    <div class="well">
      <form #contentForm="ngForm" novalidate>
        <div class="form-group" [class.has-error]="!headline.valid && headline.touched">
          <label for="headline">Headline</label>
          <ckeditor id="headline" [(ngModel)]="appealContent.headline" #headline="ngModel" name="headline"></ckeditor>
        </div>
        <div class="form-group" [class.has-error]="!body.valid && body.touched">
          <label for="appeal-body">Body</label>
          <ckeditor id="appeal-body" [(ngModel)]="appealContent.body" #body="ngModel" name="body"></ckeditor>
        </div>
        <div class="form-group" [class.has-error]="!ps.valid && ps.touched">
          <label for="appeal-ps">PS (optional)</label>
          <ckeditor id="appeal-ps" [(ngModel)]="appealContent.ps" #ps="ngModel" name="ps"></ckeditor>
        </div>
        <div class="form-group" [class.has-error]="!url.valid && url.touched">
          <label for="url">Default donation form link</label>
          <input type="text" id="url" class="form-control" [(ngModel)]="appealContent.url" #url="ngModel" name="url">
        </div>
        <div class="form-group" [class.has-error]="!image.valid && image.touched">
          <label for="image">Image URL</label>
          <input type="text" id="image" class="form-control" [(ngModel)]="appealContent.image" #image="ngModel" name="image">
        </div>
        <button (click)="save()" class="btn btn-success">Save</button><button (click)="cancel()" class="btn btn-danger pull-right">Cancel</button>
      </form>
    </div>
  </div>
</div>
