<div class="panel panel-primary">
  <div class="panel-heading text-center" data-toggle="collapse" data-parent="#controls" data-target="#signoffsPanel">
    <h2 class="panel-title">Signoff&nbsp;&nbsp;<span class="glyphicon glyphicon-list-alt"></span></h2>
  </div>
  <div class="panel-body" id="signoffsPanel" class="collapse">
    <div class="well">
      <form #signoffForm="ngForm" novalidate>
        <div class="form-group">
          <label for="signoff-fundraising">Fundraising</label>
          <input id="signoff-fundraising" type="text" class="form-control" [(ngModel)]="appeal.signoffs[0].name" #signoffFundraising="ngModel" name="signoffFundraising">
        </div>
        <div class="form-group">
          <label for="signoff-editorial">Editorial</label>
          <input id="signoff-editorial" type="text" class="form-control" [(ngModel)]="appeal.signoffs[1].name" #signoffEditorial="ngModel" name="signoffEditorial">
        </div>
        <div class="form-group">
          <label for="signoff-web">Web</label>
          <input id="signoff-web" type="text" class="form-control" [(ngModel)]="appeal.signoffs[2].name" #signoffWeb="ngModel" name="signoffWeb">
        </div>
        <button (click)="save()" class="btn btn-success">Save</button><button (click)="cancel()" class="btn btn-danger pull-right">Cancel</button>
      </form>
    </div>
  </div>
</div>
