<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-2" id="controls">
    <div class="panel panel-primary">
      <div class="panel-heading text-center" data-toggle="collapse" data-parent="#controls" data-target="#infoPanel">
        <h2 class="panel-title">eAppeal Info&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span></h2>
      </div>
      <div class="panel-body" id="infoPanel" class="collapse">
        <div class="well">
          <form #infoForm="ngForm" (ngSubmit)="saveAppeal()" novalidate>
            <div class="form-group" [class.has-error]="!name.valid && name.touched">
              <label for="appeal-name">eAppeal name</label>
              <input id="appeal-name" type="text" class="form-control" [(ngModel)]="appeal.info.name" #name="ngModel" name="name">
            </div>
            <div class="form-group" [class.has-error]="!sender.valid && sender.touched">
              <label for="sender">Sender</label>
              <input id="sender" type="text" class="form-control" [(ngModel)]="appeal.info.sender" #sender="ngModel" name="sender">
            </div>
            <div class="form-group" [class.has-error]="!senderAddress.valid && senderAddress.touched">
              <label for="sender-address">Sender email address</label>
              <input id="sender-address" type="text" class="form-control" [(ngModel)]="appeal.info.senderAddress" #senderAddress="ngModel" name="senderAddress">
            </div>
            <div class="form-group" [class.has-error]="!subjectLine.valid && subjectLine.touched">
              <label for="subject-line">Subject line</label>
              <input id="subject-line" type="text" class="form-control" [(ngModel)]="appeal.info.subjectLine" #subjectLine="ngModel" name="subjectLine">
            </div>
            <div class="form-group" [class.has-error]="!campaign.valid && campaign.touched">
              <label for="campaign">Campaign</label>
              <select id="campaign" type="text" class="form-control" [(ngModel)]="appeal.info.campaign" #campaign="ngModel" name="campaign">
                <option *ngFor="let c of campaigns" [ngValue]="c._id" [selected]="appeal.info.campaign == c">{{c.name}}</option>
              </select>
            </div>
            <div class="form-group" [class.has-error]="!sendDate.valid && sendDate.touched">
              <label for="send-date">Send date & time</label>
              <datetime [(ngModel)]="appeal.info.sendDate" #sendDate="ngModel" name="sendDate" id="sendDate"></datetime>
            </div>
            <div class="form-group" [class.has-error]="!scheduled.valid && scheduled.touched">
              <label for="send-date">Scheduled</label>
              <input type="checkbox" [(ngModel)]="appeal.info.scheduled" #scheduled="ngModel" name="scheduled" id="scheduled">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading text-center" data-toggle="collapse" data-parent="#controls" data-target="#contentPanel">
        <h2 class="panel-title">eAppeal Content&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></h2>
      </div>
      <div class="panel-body" id="contentPanel" class="collapse">
        <div class="well">
          <form #contentForm="ngForm" (ngSubmit)="saveAppeal()" novalidate>
            <div class="form-group" [class.has-error]="!headline.valid && headline.touched">
              <label for="headline">Headline</label>
              <textarea id="headline" class="form-control" [(ngModel)]="appeal.emailContent.headline" #headline="ngModel" name="headline"></textarea>
            </div>
            <div class="form-group" [class.has-error]="!body.valid && body.touched">
              <label for="appeal-body">Body</label>
              <textarea id="appeal-body" class="form-control" [(ngModel)]="appeal.emailContent.body" #body="ngModel" name="body"></textarea>
            </div>
            <div class="form-group" [class.has-error]="!url.valid && url.touched">
              <label for="url">Default donation form link</label>
              <input type="text" id="url" class="form-control" [(ngModel)]="appeal.emailContent.url" #url="ngModel" name="url">
            </div>
            <div class="form-group" [class.has-error]="!image.valid && image.touched">
              <label for="image">Image URL</label>
              <input type="text" id="image" class="form-control" [(ngModel)]="appeal.emailContent.image" #image="ngModel" name="image">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading text-center" data-toggle="collapse" data-parent="#controls" data-target="#codesPanel">
        <h2 class="panel-title">Codes&nbsp;&nbsp;<span class="glyphicon glyphicon-qrcode"></span></h2>
      </div>
      <div class="panel-body" id="codesPanel" class="collapse">
        <div class="well">
          <form #codesForm="ngForm" (ngSubmit)="saveAppeal()" novalidate>
            <div class="form-group" [class.has-error]="!src.valid && src.touched">
              <label for="src">Source code</label>
              <input id="src" type="text" class="form-control" [(ngModel)]="appeal.codes.s_src" #src="ngModel" name="src">
            </div>
            <div class="form-group" [class.has-error]="!subSrc.valid && subSrc.touched">
              <label for="sub-src">Subsource code</label>
              <input id="sub-src" type="text" class="form-control" [(ngModel)]="appeal.codes.s_subsrc" #subSrc="ngModel" name="subSrc">
            </div>
            <div class="form-group" [class.has-error]="!utmMedium.valid && utmMedium.touched">
              <label for="utm-medium">UTM medium</label>
              <input id="utm-medium" type="text" class="form-control" [(ngModel)]="appeal.codes.utm_medium" #utmMedium="ngModel" name="utmMedium">
            </div>
            <div class="form-group" [class.has-error]="!utmSource.valid && utmSource.touched">
              <label for="utm-source">UTM source</label>
              <input id="utm-source" type="text" class="form-control" [(ngModel)]="appeal.codes.utm_source" #utmSource="ngModel" name="utmSource">
            </div>
            <div class="form-group" [class.has-error]="!sustainer.valid && sustainer.touched">
              <label for="sustainer">Sustainer
                <input id="sustainer" type="checkbox" class="form-control" [(ngModel)]="appeal.codes.sustainer" #sustainer="ngModel" name="sustainer">
              </label>
            </div>
            <div class="form-group" [class.has-error]="!resend.valid && resend.touched">
              <label for="resend">Resend</label>
              <input id="resend" type="number" class="form-control" [(ngModel)]="appeal.codes.resend" #resend="ngModel" name="resend" min="0">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
